*
!LICENSE
!README.md
!icon.png
!package.json
!editor/**
!node_modules/
node_modules/**
!node_modules/yaml/**
!webview/
webview/**
!webview/css/
!webview/css/app.css
!webview/js/
!webview/js/app.js
!webview/js/chunk-vendors.js

.git/**
.github/**
.vscode/**
.vscode-test/**
webview-src/**
test/**
coverage/**
*.vsix
.vsixmanifest
.DS_Store
.gitignore
.yarnrc
package-lock.json
AGENTS.md
swagger.yaml
demo.webp
babel.config.js
vue.config.js
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
